<!DOCTYPE html>
 
<head>
 
	<title>[Title]</title>
 
	<!-- JavaScript -->
	<script type="text/javascript">
		// Put code here or set the src attribute
	</script>
 
	<!-- CSS -->
	<style type="text/css">
	<!--
 
		body { background-color: white; margin: 0; padding: 0; font-family: sans-serif; font-size: 12px; }
		p { margin-bottom: 10px; }
 
	-->
	</style>
 
</head>
 
<body>
 
	<audio id="sound1" src="sound1.mp3"></audio>
	<audio id="sound2" src="sound2.mp3"></audio>
	
 <div
     style="background-image: url(https://s-media-cache-ak0.pinimg.com/736x/4a/45/86/4a45863b3e7bd84a243a3bfdfb289267--geometric-rug-geometric-patterns.jpg); height: 40px; width: 350px;">
	<form action="" method="get">
      Vol: <input type="range" name="points" min="0" max="100">
    <button onclick="document.getElementById('sound1').play()">Play</button>
    </form>
 </div>
 
</body>
 
</html>